:root {
  --color-primario: #3498db;
  --color-secundario: #2ecc71;
  --color-terciario: #e74c3c;
  --color-fondo-claro: #ecf0f1;
  --color-fondo-oscuro: #34495e;
  --color-texto-claro: #ffffff;
  --color-texto-oscuro: #2c3e50;
}

body {
  background-color: var(--color-fondo-claro);
  color: var(--color-texto-oscuro);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--color-primario);
  color: var(--color-texto-claro);
  padding: 10px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin: 0; /* Añadido para evitar margen por defecto */
}

section {
  padding: 20px;
  display: none; /* Ocultamos todas las secciones por defecto */
}

section.activa {
  display: block; /* Solo mostramos la sección activa */
}

button {
  background-color: var(--color-primario);
  color: var(--color-texto-claro);
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: var(--color-secundario);
}

#agregar-producto {
  background-color: var(--color-secundario);
}

#eliminar-producto {
  background-color: var(--color-terciario);
}

#vaciar-carrito {
  background-color: var(--color-fondo-oscuro);
  color: var(--color-texto-claro);
}

footer {
  background-color: var(--color-primario);
  color: var(--color-texto-claro);
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Estilos para el mensaje de productos añadidos/eliminados */
#mensaje {
  background-color: var(--color-secundario);
  color: var(--color-texto-claro);
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  display: none; /* El mensaje será controlado con JavaScript */
}
.producto {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.producto img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* Estilos adicionales para las imágenes */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
